<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
<li><a href="/infos">信息</a></li>
<li><a href="/setInfo">录入信息</a></li>
<li><a href="/users">用户中心</a></li>
<li><a href="/users/infos">用户信息</a></li>
<li><a href="/admin">后台</a></li>
<ul>
